doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        style 
            include css/nickname.css
            include css/reset.css
            include css/style.css 
            include css/welcome.css 
            include css/video.css
    body
        header
            h1 <img alt="HTML" src="https://user-images.githubusercontent.com/99077276/180241782-d5404951-7ca4-4361-b1be-febb664b8604.png"> onen the zoom~!!
        main
            #nickname 
                form
                    input(placeholder="Nickname", required, type="text") 
            ul
            div#welcome
                    h4 참여 및 만들기
                    form    
                        input(placeholder="room name", required, type="text")
                        button Enter room
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras
                    video#peerFace(autoplay,playsinline, width="400", height="400")
            script(src="/socket.io/socket.io.js") 
            script(src="/public/js/app.js")