body {
  background-color: dimgray;
  height: 100vh;
}

header h1 {
  outline: thick double white;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Lobster';
  margin: 30px 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
